<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>jokerRank</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body style="background-color: mediumaquamarine">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="brand"> jokerRank </span>
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/"> Home </a>

            <a class="navbar-item" href="/api/jokes/new"> Submit </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> More </a>

              <div class="navbar-dropdown">
                <a
                  class="navbar-item"
                  href="https://www.github.com/robfairclough/jokerrank"
                >
                  Github
                </a>
                <a class="navbar-item" href="https://robfairclough.github.io">
                  Portfolio
                </a>
                <a class="navbar-item" href="/contact"> Contact </a>
                <!-- <hr class="navbar-divider" />
                <a class="navbar-item" href="/report"> Report an issue </a> -->
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title">Thanks for submitting!</h1>
        <p class="text">
          Your joke <%= newJoke.joke %> has been saved. You listed the author as
          <%= newJoke.author %>
        </p>
      </div>
    </section>
  </body>
</html>
